<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/iki_basamakli_oyunu/src/iki_basamakli_oyunu/dort_basamakli_oyun.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="iki_basamakli_oyunu.dort_basamakli_oyun"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="iki_basamakli_oyunu"/>
</launchConfiguration>
