<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/konsol_uygulamalari_vize_1/src/konsol_uygulamalari_vize_1/sayinin_kokunu_bulma.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="konsol_uygulamalari_vize_1.sayinin_kokunu_bulma"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="konsol_uygulamalari_vize_1"/>
</launchConfiguration>
